{% extends 'base.html' %}
{% block content %}
<ul class="nav nav-pills">
  <li><a href="/transac/">Home</a></li>
  <li><a href="/transac/upload/">Upload Document</a></li>
  <li><a href="/transac/sharedoc/">Share Document</a></li>
  <li><a href="/transac/viewshared/">Shared with me</a></li>
  <li class="active"><a href="/transac/manageshared/">Manage Shared</a></li>
  <li><a href="/transac/logout/">Logout</a></li>
</ul>
<br>
<div class="panel panel-primary">
  <div class="panel-heading"><p>Manage Shared Documents</p></div>
  <ul class="list-group">
  {% for d in docs %}
    <li class="list-group-item">{{ d.trans.name }}&nbsp;&nbsp;&nbsp;<a href="/transac/delete/{{ d.id }}">Revoke Permission</a></li>
  {% endfor %}
  </ul>
{% endblock %}
