{% extends 'base.html' %}
{% block content %}
<ul class="nav nav-pills">
  <li><a href="/transac/">Home</a></li>
  <li><a href="/transac/upload/">Upload Document</a></li>
  <li><a href="/transac/sharedoc/">Share Document</a></li>
  <li class="active"><a href="/transac/viewshared/">Shared with me</a></li>
  <li><a href="/transac/manageshared/">Manage shared documents</a></li>
  <li><a href="/transac/logout/">Logout</a></li>
</ul>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <p>Documents shared with me</p>
  </div>
  <ul class="list-group">
  {% for d in docs %}
    <li class="list-group-item"><p>{{ d.trans.name }}</p>
      <iframe src="http://docs.google.com/viewer?url=http://akshaylike.pythonanywhere.com/smtest/media/{{ d.trans.pdfdoc }}&embedded=true" width=100% height=500px style="border: none;"></iframe>
    </li>
  {% endfor %}
  </ul>
</div>



<script language="javascript" type="text/javascript">
$('#myModal').modal({
  keyboard: false
});
</script>
{% endblock %}
